/*STUFFED ANIMAL WAR - jaemzware.org - 20150611 */
body {
    background-image: url("http://jaemzware.org/media/lexze/lexze.png");
    background-repeat:repeat-y;
    background-position:right;
}

.fulldisclosurebetty{

    font-size:x-small;
    
    margin: 0%;
    border: 0%;
    padding: 0%;
    
    color:black;
   
}

iframe{
    float:left;
}

