/*STUFFED ANIMAL WAR - jaemzware.org - 20150611 */
body {
    background-image: url("http://analogarchive.com/live/melvins.jpeg");
    background-repeat:no-repeat;
    background-position:top right;
}

