/*STUFFED ANIMAL WAR - jaemzware.org - 20150611 */
body {
    background-image: url("http://seattlenative.org/media/rose.png");
    background-repeat:no-repeat;
    background-position:top right;
}

audio {
    width: 500px;
    height: 50px;
}