/*STUFFED ANIMAL WAR - jaemzware.org - 20150611 */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
 /* STYLES GO HERE */
   body{
     font-size:large;
   }
   select {
      width: 100%; max-width: 100%; font-size:40px;
   }
   #messagesdiv
   {
       width:100%;
       height:200px;
       background-color:black;
       background-position:left;
       border-width:thin;
       border-style: ridge;
       overflow-x: scroll;
       overflow-y: scroll;
       margin: 0%;
       border: 0%;
       padding: 0%;
       text-align: left;
       vertical-align: top;
       text-align: left;
       font-weight:bold;
       font-family:sans-serif;
       font-size:large;
       color:white;
   }


 }
body {
    background-color:black;
    color:white;
    font-weight:normal;
    font-family:sans-serif;
    font-size:small;
    margin: 0px;
    background-repeat:no-repeat;
    background-position:top left;
    text-align: left;
}
/*CHAT//////////////////////////////////////////////CHAT//////////////////////////////////////////////////CHAT*/
chatformdiv{
    width:100%;
}
#chattable{
    background-color:black;
    width:95%;
}
#chattable td{
    text-align: left;
    vertical-align:top;
}
#chatclientusertd{
   width:20%;
}
#chatClientUser{
   margin-right:3px;

}
#chatclientmessagetd{
    width:80%;
}
#chatClientMessage{
    width:100%;
}

#chattable input{
    font-size:xx-large;
}

#messagesdiv
{
    width:100%;
    height:200px;
    background-color:black;
    background-position:left;
    border-width:thin;
    border-style: ridge;
    overflow-x: scroll;
    overflow-y: scroll;
    margin: 0%;
    border: 0%;
    padding: 0%;
    text-align: left;
    vertical-align: top;
    text-align: left;
    font-weight:bold;
    font-family:sans-serif;
    font-size:small;
    color:white;
}

span.serverdate{
    color:orangered;
    font-size:xx-small
}
span.remoteChatClientUser{
    color:orange;
    font-size:large;

}
span.chatclientmessage{
    color:lime;
    font-size:large;
}
/*CHAT//////////////////////////////////////////////CHAT//////////////////////////////////////////////////CHAT*/
div.seattlenativelinks{
    margin-left:10px;
}
/*STUFFEDANIMALWAR//////////////////////////////////////////////STUFFEDANIMALWAR//////////////////////////////////////////////////STUFFEDANIMALWAR*/
#stuffedanimalwardiv{
    margin:0;
    padding:0;
    width:100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
}
#stuffedanimalwarsvg{
    margin:0;
    padding:0;
    width:100%;
    height:600px;
    background-size:contain;
    background-position:left;
}
#stuffedanimalwarformtable{
    background-color:black;
    width:95%;
}
#stuffedanimalwarformtable td{
    text-align: left;
    vertical-align:top;
    width:100%;
}
#stuffedanimalwarformtable input{
    width:100%;
}
/*STUFFEDANIMALWAR//////////////////////////////////////////////STUFFEDANIMALWAR//////////////////////////////////////////////////STUFFEDANIMALWAR*/

/*AUDIOVIDEOPHOTOS//////////////////////////////////////////////AUDIOVIDEOPHOTOS//////////////////////////////////////////////////AUDIOVIDEOPHOTOS*/
#audiotable{
    background-color:black;
    width:95%;
}
#audiotable td{
    text-align: left;
    vertical-align:top;
    width:100%;
}

#audiotable audio{
    width:100%;
}
#videotable{
    background-color:black;
    width:100%;
}
#videotable td{
    text-align: left;
    vertical-align:top;
    width:100%;
}

#videotable video{
    width:100%;
}
#phototable{
    background-color:darkgrey;
    width:100%;
}
#phototable td{
    text-align: left;
    vertical-align:top;
    width:100%;
}
/*AUDIOVIDEOPHOTOS//////////////////////////////////////////////AUDIOVIDEOPHOTOS//////////////////////////////////////////////////AUDIOVIDEOPHOTOS*/

/*TABSTRIPVIDEO//////////////////////////////////////////////TABSTRIPVIDEO//////////////////////////////////////////////////TABSTRIPVIDEO*/
img.videolink{
    height:10%;
}
/*TABSTRIPVIDEO//////////////////////////////////////////////TABSTRIPVIDEO//////////////////////////////////////////////////TABSTRIPVIDEO*/

/*JAEMZWARELOGO//////////////////////////////////////////////JAEMZWARELOGO//////////////////////////////////////////////////JAEMZWARELOGO*/
p.jaemzwarelogo{
    color: white;
    font-size:medium;
    width:50%;
}
a.jaemzwarelogo:link {
    color: white;
    text-decoration:underline;
}

a.jaemzwarelogo:visited {
    color: white;
    text-decoration:underline;
}

a.jaemzwarelogo:hover {
    color: lightblue;
    text-decoration: underline;
}

a.jaemzwarelogo:active {
    color: white;
    text-decoration: underline;
}
/*JAEMZWARELOGO//////////////////////////////////////////////JAEMZWARELOGO//////////////////////////////////////////////////JAEMZWARELOGO*/

