/*STUFFED ANIMAL WAR - jaemzware.org - 20150611 */
body {
    background-image:url("gamemedia/streetdome.jpg");
    background-color:darkslategrey; /*background behind any elements on the body of the page*/
    color:white; /*text color*/
    font-weight:normal;
    font-family:sans-serif;
    font-size:xx-small;
    margin: 0px;
    background-repeat:no-repeat;
    background-position:top right;
}


table{
    border-spacing:0px; /*need to specify so it doesn't get defaulted by user agent stylesheet'*/
}

audio {
    width: 400px; /*iphone 6 is 750 pixels wide. didn't have much luck using a percentage here, in chrome'*/
}

#messagesdiv
{
    background-color:green;
    background-position:left;
    border: 2px solid;
    border-radius: 3%;
    border-width:thick;
    border-style:outset;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 400px;
    height: 400px;
    margin: 3%;
    border: 0%;
    padding: 0%;
    text-align: left;
    vertical-align: top;
    text-align: left;
    color:yellow; /*text color*/
    font-weight:bold;
    font-family:sans-serif;
    font-size:x-small;

}

span.serverdate{
    color:black;
    font-size: small;

}

span.chatclientuser{
    color:blue;
    font-size: small;

}
span.chatclientmessage{
    color:yellow;
    font-size:medium;
}

div.divstuffedanimalwaronly
{
    border-width:thick;
    border-style:outset;
    /*float:left;*/
    height:400px;
    width:400px;
    background-position:left;
    vertical-align: top;
    text-align: left;
    overflow-x: scroll;
    overflow-y: scroll;
}

svg.svgstuffedanimalwar
{
    /*background-image: url("media/streetdome.jpg");*/
    background-color: lightgoldenrodyellow;
    background-position:left;
    vertical-align: top;
    text-align: left;
    height:100%; 
    width:100%; 
}

ul{
    margin: 0%;
    border: 0%;
    padding: 0%;
}


td{
    vertical-align: top;
    text-align: left;
}

td.divgamesectiontitle{
    width:15%;
    font-size:large;
}

td.divgamesectioncontent{
    overflow-x: scroll;
    overflow-y: scroll;
    width:20%;
}

img.videolink{
    height:10%;
}

.fulldisclosurediv{
    overflow-x: scroll;
    overflow-y: scroll;
    
    font-size:small;
    
    margin: 0%;
    border: 0%;
    padding: 0%;
   
}

a.jaemzwarelogo:link {
    color: white;
    text-decoration:underline;
}

a.jaemzwarelogo:visited {
    color: white;
    text-decoration:underline;
}

a.jaemzwarelogo:hover {
    color: lightblue;
    text-decoration: underline;
}

a.jaemzwarelogo:active {
    color: white;
    text-decoration: underline;
}
