/* 
    Created on : Aug 20, 2015, 5:45:01 PM
    Author     : jaemzware.org james arasim
*/

img.videolink
{
    max-height:60px;
    /*max-width:75px;*/
    vertical-align:left;
    border-style:solid;
    border-color:#ffffff;
    opacity:0.80;
}

img.videolink:hover
{
    opacity:1.0;
    border-style:groove;
    border-color:#00ff00;
}

span.videolinktext
{
    font-size:medium;
}

div.videostrip
{
    overflow-x:scroll;
    margin:0px;
    border:0px;
    padding:0px;
    border:0px;
    border-radius:0px;
    text-align:center;
}

#videoplayer-notes{
    font-size:small;
}
