/* 
    Created on : Aug 20, 2015, 5:45:01 PM
    Author     : jaemzware.org james arasim
*/

img.videolink
{
    max-height:25px;
    max-width:25px;
    vertical-align:middle;
    border-style:solid;
    border-color:#000000;
    opacity:0.5;
    float:left;
    margin-left:20px;
}

img.videolink:hover
{
    opacity:1.0;
    border-style:solid;
    border-color:#ffffff;
}

span.videolinktext
{
    font-size:medium;
}

div.videostrip
{
    overflow-x:visible;
    overflow-y:hidden;
    margin:0px;
    border:0px;
    padding:0px;
    border:0px solid;
    border-radius:0px;
    text-align:center;
    height: 100px;
    width: 600px;
    vertical-align:middle;
    
}



