#messagesdiv
{
    overflow-x: scroll;
    overflow-y: scroll;
    width: 700px;
    height: 200px;
    margin: 0%;
    border: 0%;
    padding: 0%;
    border-radius: 1%;
    border: 2px solid;
    background-color: rgb(130, 224, 255);
    text-align: left;
    position:absolute;
}

#messages
{
    list-style-type: none;
}
