/* BETTY  - jaemzware.org - 20150728 */

#jaemzwaredynamicvideoplayer{
    width: 50%;
    opacity: 0.7;
}

body {
    background-color: black; /*background behind any elements on the body of the page*/
    background-image: url("bettyonbedsmall.JPG");
    background-repeat: no-repeat;
    color:wheat; /*text color*/
}

table{
    width:100%;
}

#chattable{
    width:25%
}

ul{
    margin: 0%;
    border: 0%;
    padding: 0%;
}

td{
    vertical-align: top;
    text-align: left;
}

td.divgamesectiontitle{
    width:15%;
}

td.divgamesectioncontent{
    overflow-x: scroll;
    overflow-y: scroll;
    width:20%;
}

#messagesdiv
{
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: white;
    text-align: left;
    opacity: 0.5;
}

span.chatclientmessage{
    color:hotpink;
    font-size: larger;
}

a.jaemzwarelogo:link {
    color: white;
    text-decoration:underline;
}

a.jaemzwarelogo:visited {
    color: white;
    text-decoration:underline;
}

a.jaemzwarelogo:hover {
    color: lightblue;
    text-decoration: underline;
}

a.jaemzwarelogo:active {
    color: white;
    text-decoration: underline;
}


