/* BETTY  - jaemzware.org - 20150728 */

body {
    background-color: black; /*background behind any elements on the body of the page*/
    background-image: url("bettyonbedsmall.JPG");
    background-repeat: repeat-y;
    background-position: center;
    color:hotpink; /*text color*/
    font-weight:normal;
    font-family:sans-serif;
    font-size:xx-large;
}

#messagesdiv
{
    overflow-x: scroll;
    overflow-y: scroll;
    width: 70%;
    height: 50%;
    margin: 0%;
    padding: 0%;
    background-color:darkmagenta;
    text-align: left;
    opacity: 0.7;
    color:yellow; /*text color*/
    font-weight:bold;
    font-family:sans-serif;
    font-size:large;
}

div.divstuffedanimalwar
{
    background-color: lightgoldenrodyellow;
    background-position:left;
    vertical-align: top;
    text-align: left;
    height:30%; 
    width:70%; 
    overflow-x: scroll;
    overflow-y: scroll;
}

svg.svgstuffedanimalwar
{
    background-color: lightgoldenrodyellow;
    background-position:left;
    vertical-align: top;
    text-align: left;
    height:100%; 
    width:100%; 
}

table{
    width:70%;
}

table.narrowertable{
    width:40%;
}

#chattable{
    width:25%
}

ul{
    margin: 0%;
    border: 0%;
    padding: 0%;
}

td{
    vertical-align: top;
    text-align: left;
}

td.divgamesectiontitle{
    width:15%;
}

td.divgamesectioncontent{
    overflow-x: scroll;
    overflow-y: scroll;
    width:20%;
}



span.chatclientmessage{
    color:hotpink;
    font-size: larger;
}

span.serverdate{
    color:hotpink;
}

span.chatclientuser{
    color:hotpink;
}

a.jaemzwarelogo:link {
    color: white;
    text-decoration:underline;
}

a.jaemzwarelogo:visited {
    color: white;
    text-decoration:underline;
}

a.jaemzwarelogo:hover {
    color: lightblue;
    text-decoration: underline;
}

a.jaemzwarelogo:active {
    color: white;
    text-decoration: underline;
}


