/*STUFFED ANIMAL WAR - jaemzware.org - 20150611 */
body {
    background-color: black; /*background behind any elements on the body of the page*/
    color:white; /*text color*/
    font-weight:normal;
    font-family:sans-serif;
    font-size:xx-large;
    
}

//CHAT MESSAGES
#messagesdiv
{
    width: 50%;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 30%;
    margin: 0%;
    padding: 0%;
    background-color:darkblue;
    color:yellow; /*text color*/
    text-align: left;
    opacity: 0.7;
    font-weight:bold;
    font-family:sans-serif;
    font-size:x-small;
    border: 3px solid;
    border-radius: 1%;

}

span.serverdate{
    color:blue;
    font-size: small;

}

span.chatclientuser{
    color:black;
    font-size: small;

}
span.chatclientmessage{
    color:yellow;
    font-size:medium;
}

//STUFFED ANIMAL WAR
div.divstuffedanimalwar
{
    width:45%; 
    height:15%;
    background-color: pink;
    background-position:left;
    vertical-align: top;
    text-align: left;
    overflow-x: scroll;
    overflow-y: scroll;
}

svg.svgstuffedanimalwar
{
    background-color: lightgoldenrodyellow;
    background-position:left;
    vertical-align: top;
    text-align: left;
    height:100%; 
    width:100%; 
}

table{
    width:50%;
}  


div{
    border-radius: 1%;
}

ul{
    margin: 0%;
    border: 0%;
    padding: 0%;
}


td{
    vertical-align: top;
    text-align: left;
}

td.divgamesectiontitle{
    width:15%;
    font-size:large;
}

td.divgamesectioncontent{
    overflow-x: scroll;
    overflow-y: scroll;
    width:20%;
}

img.videolink{
    height:10%;
}

#fulldisclosurediv{
    overflow-x: scroll;
    overflow-y: scroll;
    
    font-size: small;
    
    margin: 0%;
    border: 0%;
    padding: 0%;
   
}

a.jaemzwarelogo:link {
    color: white;
    text-decoration:underline;
}

a.jaemzwarelogo:visited {
    color: white;
    text-decoration:underline;
}

a.jaemzwarelogo:hover {
    color: lightblue;
    text-decoration: underline;
}

a.jaemzwarelogo:active {
    color: white;
    text-decoration: underline;
}
